[submodule "aliencouncil.com"]
	path = sites/aliencouncil.com
	url = git@github-bourneash:bourneash/aliencouncil.git
[submodule "americastrikes.com"]
	path = sites/americastrikes.com
	url = git@github-bourneash:bourneash/americastrikes.git
[submodule "rc-9.com"]
	path = sites/rc-9.com
	url = git@github-bourneash:bourneash/rc-9.git
[submodule "reviewtattoo.com"]
	path = sites/reviewtattoo.com
	url = git@github-bourneash:bourneash/reviewtattoo.git
[submodule "sinderella.org"]
	path = sites/sinderella.org
	url = https://github.com/bourneash/sinderella.git
[submodule "ultrarough.com"]
	path = sites/ultrarough.com
	url = git@github-bourneash:bourneash/ultrarough.com.git
[submodule "weapontester.com"]
	path = sites/weapontester.com
	url = git@github-bourneash:bourneash/weapontester.com.git
[submodule "sites/xxxtea.com"]
	path = sites/xxxtea.com
	url = git@github-bourneash:bourneash/xxxtea.com.git
	branch = main
[submodule "saveusfarms.com"]
	path = sites/saveusfarms.com
	url = git@github-bourneash:bourneash/saveusfarms.com.git
[submodule "sites/wetpages.com"]
	path = sites/wetpages.com
	url = git@github-bourneash:bourneash/wetpages.com.git
[submodule "sites/noveltyguns.com"]
	path = sites/noveltyguns.com
	url = git@github-bourneash:bourneash/noveltyguns.com.git
[submodule "sites/3om.com"]
	path = sites/3om.com
	url = git@github-bourneash:bourneash/3om.com.git
[submodule "sites/wetslit.com"]
	path = sites/wetslit.com
	url = git@github-bourneash:bourneash/wetslit.com.git
[submodule "sites/shoptopless.com"]
	path = sites/shoptopless.com
	url = git@github-bourneash:bourneash/shoptopless.com.git
[submodule "sites/complicated.work"]
	path = sites/complicated.work
	url = git@github-bourneash:bourneash/complicated.work.git
[submodule "sites/deeppenetrations.com"]
	path = sites/deeppenetrations.com
	url = git@github-bourneash:bourneash/deeppenetrations.com.git
[submodule "sites/coffeepredator.com"]
	path = sites/coffeepredator.com
	url = git@github-bourneash:bourneash/coffeepredator.com.git
[submodule "sites/sexchallengecoins.com"]
	path = sites/sexchallengecoins.com
	url = git@github-bourneash:bourneash/sexchallengecoins.com.git
[submodule "sites/vibratorporn.com"]
	path = sites/vibratorporn.com
	url = git@github-bourneash:bourneash/vibratorporn.com.git
[submodule "sites/pervypotion.com"]
	path = sites/pervypotion.com
	url = git@github-bourneash:bourneash/pervypotion.com.git
[submodule "sites/elevatorfriends.com"]
	path = sites/elevatorfriends.com
	url = git@github-bourneash:bourneash/elevatorfriends.com.git
[submodule "sites/totaljerks.com"]
	path = sites/totaljerks.com
	url = git@github-bourneash:bourneash/totaljerks.com.git
[submodule "sites/rodhat.com"]
	path = sites/rodhat.com
	url = git@github-bourneash:bourneash/rodhat.com.git
[submodule "sites/broadwayshowgirls.com"]
	path = sites/broadwayshowgirls.com
	url = git@github-bourneash:bourneash/broadwayshowgirls.com.git
[submodule "sites/pokererotic.com"]
	path = sites/pokererotic.com
	url = git@github-bourneash:bourneash/pokererotic.com.git
[submodule "sites/sexvendor.com"]
	path = sites/sexvendor.com
	url = git@github-bourneash:bourneash/sexvendor.com.git
[submodule "sites/securityplaces.com"]
	path = sites/securityplaces.com
	url = git@github-bourneash:bourneash/securityplaces.com.git
[submodule "sites/sexchallenge.me"]
	path = sites/sexchallenge.me
	url = git@github-bourneash:bourneash/sexchallenge.me.git
[submodule "sites/onlysexyteens.com"]
	path = sites/onlysexyteens.com
	url = git@github-bourneash:bourneash/onlysexyteens.com.git
[submodule "sites/failbunny.com"]
	path = sites/failbunny.com
	url = git@github-bourneash:bourneash/failbunny.com.git
[submodule "sites/dumbsluts.com"]
	path = sites/dumbsluts.com
	url = git@github-bourneash:bourneash/dumbsluts.com.git
[submodule "sites/kinkxels.com"]
	path = sites/kinkxels.com
	url = git@github-bourneash:bourneash/kinkxels.com.git
[submodule "sites/deadlymaracas.com"]
	path = sites/deadlymaracas.com
	url = git@github-bourneash:bourneash/deadlymaracas.com.git
[submodule "sites/cock-smoker.com"]
	path = sites/cock-smoker.com
	url = git@github-bourneash:bourneash/cock-smoker.com.git
[submodule "sites/driveford.net"]
	path = sites/driveford.net
	url = git@github-bourneash:bourneash/driveford.net.git
[submodule "sites/adultxtube.com"]
	path = sites/adultxtube.com
	url = git@github-bourneash:bourneash/adultxtube.com.git
[submodule "sites/mynewgm.com"]
	path = sites/mynewgm.com
	url = git@github-bourneash:bourneash/mynewgm.com.git
[submodule "sites/nsfwpixels.com"]
	path = sites/nsfwpixels.com
	url = git@github-bourneash:bourneash/nsfwpixels.com.git
