[submodule "aliencouncil.com"]
	path = sites/aliencouncil.com
	url = git@github-bourneash:bourneash/aliencouncil.git
[submodule "americastrikes.com"]
	path = sites/americastrikes.com
	url = git@github-bourneash:bourneash/americastrikes.git
[submodule "rc-9.com"]
	path = sites/rc-9.com
	url = git@github-bourneash:bourneash/rc-9.git
[submodule "reviewtattoo.com"]
	path = sites/reviewtattoo.com
	url = git@github-bourneash:bourneash/reviewtattoo.git
[submodule "sinderella.org"]
	path = sites/sinderella.org
	url = https://github.com/bourneash/sinderella.git
[submodule "ultrarough.com"]
	path = sites/ultrarough.com
	url = git@github-bourneash:bourneash/ultrarough.com.git
[submodule "weapontester.com"]
	path = sites/weapontester.com
	url = git@github-bourneash:bourneash/weapontester.com.git
[submodule "sites/xxxtea.com"]
	path = sites/xxxtea.com
	url = git@github-bourneash:bourneash/xxxtea.com.git
	branch = main
[submodule "saveusfarms.com"]
	path = sites/saveusfarms.com
	url = git@github-bourneash:bourneash/saveusfarms.com.git
[submodule "sites/wetpages.com"]
	path = sites/wetpages.com
	url = git@github-bourneash:bourneash/wetpages.com.git
[submodule "sites/noveltyguns.com"]
	path = sites/noveltyguns.com
	url = git@github-bourneash:bourneash/noveltyguns.com.git
[submodule "sites/3om.com"]
	path = sites/3om.com
	url = git@github-bourneash:bourneash/3om.com.git
[submodule "sites/wetslit.com"]
	path = sites/wetslit.com
	url = git@github-bourneash:bourneash/wetslit.com.git
