[submodule "aliencouncil.com"]
	path = sites/aliencouncil.com
	url = git@github-bourneash:bourneash/aliencouncil.git
[submodule "americastrikes.com"]
	path = sites/americastrikes.com
	url = git@github-bourneash:bourneash/americastrikes.git
[submodule "rc-9.com"]
	path = sites/rc-9.com
	url = git@github-bourneash:bourneash/rc-9.git
[submodule "reviewtattoo.com"]
	path = sites/reviewtattoo.com
	url = git@github-bourneash:bourneash/reviewtattoo.git
[submodule "sinderella.org"]
	path = sites/sinderella.org
	url = https://github.com/bourneash/sinderella.git
[submodule "ultrarough.com"]
	path = sites/ultrarough.com
	url = git@github-bourneash:bourneash/ultrarough.com.git
[submodule "weapontester.com"]
	path = sites/weapontester.com
	url = git@github-bourneash:bourneash/weapontester.com.git
[submodule "sites/xxxtea.com"]
	path = sites/xxxtea.com
	url = git@github-bourneash:bourneash/xxxtea.com.git
	branch = main
[submodule "saveusfarms.com"]
	path = sites/saveusfarms.com
	url = git@github-bourneash:bourneash/saveusfarms.com.git
[submodule "sites/wetpages.com"]
	path = sites/wetpages.com
	url = git@github-bourneash:bourneash/wetpages.com.git
[submodule "sites/noveltyguns.com"]
	path = sites/noveltyguns.com
	url = git@github-bourneash:bourneash/noveltyguns.com.git
[submodule "sites/wetslit.com"]
	path = sites/wetslit.com
	url = git@github-bourneash:bourneash/wetslit.com.git
[submodule "sites/shoptopless.com"]
	path = sites/shoptopless.com
	url = git@github-bourneash:bourneash/shoptopless.com.git
[submodule "sites/complicated.work"]
	path = sites/complicated.work
	url = git@github-bourneash:bourneash/complicated.work.git
[submodule "sites/deeppenetrations.com"]
	path = sites/deeppenetrations.com
	url = git@github-bourneash:bourneash/deeppenetrations.com.git
[submodule "sites/vibratorporn.com"]
	path = sites/vibratorporn.com
	url = git@github-bourneash:bourneash/vibratorporn.com.git
[submodule "sites/pervypotion.com"]
	path = sites/pervypotion.com
	url = git@github-bourneash:bourneash/pervypotion.com.git
[submodule "sites/elevatorfriends.com"]
	path = sites/elevatorfriends.com
	url = git@github-bourneash:bourneash/elevatorfriends.com.git
[submodule "sites/totaljerks.com"]
	path = sites/totaljerks.com
	url = git@github-bourneash:bourneash/totaljerks.com.git
[submodule "sites/rodhat.com"]
	path = sites/rodhat.com
	url = git@github-bourneash:bourneash/rodhat.com.git
[submodule "sites/broadwayshowgirls.com"]
	path = sites/broadwayshowgirls.com
	url = git@github-bourneash:bourneash/broadwayshowgirls.com.git
[submodule "sites/pokererotic.com"]
	path = sites/pokererotic.com
	url = git@github-bourneash:bourneash/pokererotic.com.git
[submodule "sites/failbunny.com"]
	path = sites/failbunny.com
	url = git@github-bourneash:bourneash/failbunny.com.git
[submodule "sites/dumbsluts.com"]
	path = sites/dumbsluts.com
	url = git@github-bourneash:bourneash/dumbsluts.com.git
[submodule "sites/deadlymaracas.com"]
	path = sites/deadlymaracas.com
	url = git@github-bourneash:bourneash/deadlymaracas.com.git
[submodule "sites/driveford.net"]
	path = sites/driveford.net
	url = git@github-bourneash:bourneash/driveford.net.git
[submodule "sites/mynewgm.com"]
	path = sites/mynewgm.com
	url = git@github-bourneash:bourneash/mynewgm.com.git
[submodule "sites/nsfwpixels.com"]
	path = sites/nsfwpixels.com
	url = git@github-bourneash:bourneash/nsfwpixels.com.git
[submodule "sites/drivegm.net"]
	path = sites/drivegm.net
	url = git@github-bourneash:bourneash/drivegm.net.git
[submodule "sites/mynewgm.info"]
	path = sites/mynewgm.info
	url = git@github-bourneash:bourneash/mynewgm.info.git
[submodule "sites/stinkyleftfoot.com"]
	path = sites/stinkyleftfoot.com
	url = git@github-bourneash:bourneash/stinkyleftfoot.com.git
[submodule "sites/infrainnovator.com"]
	path = sites/infrainnovator.com
	url = git@github-bourneash:bourneash/infrainnovator.com.git
[submodule "sites/oventoheaven.com"]
	path = sites/oventoheaven.com
	url = git@github-bourneash:bourneash/oventoheaven.com.git
[submodule "sites/findyourlostpets.com"]
	path = sites/findyourlostpets.com
	url = git@github-bourneash:bourneash/findyourlostpets.com.git
[submodule "sites/3boobs.com"]
	path = sites/3boobs.com
	url = git@github-bourneash:bourneash/3boobs.com.git
[submodule "sites/0xroulette.com"]
	path = sites/0xroulette.com
	url = git@github-bourneash:bourneash/0xroulette.com.git
[submodule "sites/gate03.com"]
	path = sites/gate03.com
	url = git@github-bourneash:bourneash/gate03.com.git
[submodule "sites/0daynews.com"]
	path = sites/0daynews.com
	url = git@github-bourneash:bourneash/0daynews.com.git
[submodule "sites/fishhooklabs.com"]
	path = sites/fishhooklabs.com
	url = git@github-bourneash:bourneash/fishhooklabs.com.git
[submodule "sites/weirdassstuff.com"]
	path = sites/weirdassstuff.com
	url = git@github-bourneash:bourneash/weirdassstuff.com.git
[submodule "sites/weirdgirlstore.com"]
	path = sites/weirdgirlstore.com
	url = git@github-bourneash:bourneash/weirdgirlstore.com.git
[submodule "sites/newmomshop.com"]
	path = sites/newmomshop.com
	url = git@github-bourneash:bourneash/newmomshop.com.git
[submodule "sites/amputeenews.com"]
	path = sites/amputeenews.com
	url = git@github-bourneash:bourneash/amputeenews.com.git
[submodule "sites/therareunicorn.com"]
	path = sites/therareunicorn.com
	url = git@github-bourneash:bourneash/therareunicorn.com.git
[submodule "sites/allthingsmasonic.com"]
	path = sites/allthingsmasonic.com
	url = git@github-bourneash:bourneash/allthingsmasonic.com.git
[submodule "sites/trainingsharks.com"]
	path = sites/trainingsharks.com
	url = git@github-bourneash:bourneash/trainingsharks.com.git
	branch = main
[submodule "sites/offshorehookup.com"]
	path = sites/offshorehookup.com
	url = git@github-bourneash:bourneash/offshorehookup.com.git
[submodule "sites/unsupervisedmedia.com"]
	path = sites/unsupervisedmedia.com
	url = git@github-bourneash:bourneash/unsupervisedmedia.com.git
