{% extends "base.html" %}
{% block body %}
<table>
  <thead>
    <tr>
      <th class="site">site</th>
      {% for fam in families %}<th>{{ fam }}</th>{% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td class="site"><a href="/site/{{ row.site }}">{{ row.site }}</a></td>
      {% for fam in families %}
        {% set cell = row.cells[fam] %}
        <td>
          <span class="cell {{ cell.state }}">{{ cell.summary }}</span>
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
